<div id="<%= dom_id maint %>">
  <p>
    <strong>Photo:</strong>
    <%= maint.photo %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maint.date %>
  </p>

  <p>
    <strong>Type engine:</strong>
    <%= maint.type_engine_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= maint.user_id %>
  </p>

  <p>
    <strong>Type maint:</strong>
    <%= maint.type_maint_id %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= maint.machine_id %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= maint.materials %>
  </p>

</div>
