<%= form_with(model: machine) do |form| %>
  <% if machine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
        <% machine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :imagen, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :tipo_motor, style: "display: block" %>
    <%= form.collection_select :type_engine_id, @type_engines, :id, :name, include_blank: true,style: "display: block" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
