<div id="<%= dom_id machine %>">
  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= machine.description %>
  </p>

  <p>
    <strong>Image:</strong>
    

    <% if machine.image.present? %>
      <%= image_tag machine.image, class:'img-publication' %>
    <% else %>
    <%= image_tag('default.jpg', style: 'width: 200px; height: 150px; border: 1px solid black;')%>

    <% end %>
  </p>

  <p>
    <strong>Type engine:</strong>
    <%= machine.type_engine.name %>
  </p>

</div>
