<div id="<%= dom_id machine %>">
  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= machine.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= machine.image %>
  </p>

  <p>
    <strong>Type engine:</strong>
    <%= machine.type_engine_id %>
  </p>

</div>
