
<%= render @machine %>

<div>
  <% if current_user.admin? %>
    <%= link_to "Back to machines", machines_path %>
    <%= link_to "Edit this machine", edit_machine_path(@machine) %> |
    <%= button_to "Destroy this machine", @machine, method: :delete %>

  <% else %>
    <%= link_to "Back to machines", machines_path %>
  <% end %>
    
</div>
